---
  applications:
  - name: //
    memory: 128M
    buildpacks:
    - //
    routes:
    - route: //
    env:
      CF_STAGING_TIMEOUT: 15
      CF_STARTUP_TIMEOUT: 15
      APP_NAME:
      APP_DEBUG:
      APP_URL:
      APP_KEY:
      APP_ENV:
      DB_CONNECTION:
      DB_HOST:
      DB_DATABASE:
      DB_USERNAME:
      DB_PASSWORD:
      IBM_COS_ACCESS_KEY_ID:
      IBM_COS_SECRET_ACCESS_KEY:
      IBM_COS_DEFAULT_REGION:
      IBM_COS_BUCKET:
      IBM_COS_ENDPOINT:
      TELESCOPE_ENABLED:
