.chart-gallery-wrapper {
    @extend .col-md-6;
    @extend .my-2;

    .chart-gallery-block {
        @extend .h-100;
        @extend .d-flex;
        @extend .justify-content-center;
        @extend .align-items-center;
        @extend .py-3;
        background-color: $primary;
        border-radius: 5px;
        transition: filter 0.25s;

        .chart-gallery-element {
            @extend .text-center;
            @extend .my-auto;
            @extend .px-3;
            user-select: none;
            color: white;

            .chart-title {
                @extend .h3;
                @extend .mb-2;
                font-weight: bold;
                @extend .text-center;
            }

            .chart-description {
                font-size: 16px;
            }
        }

        &:hover {
            filter: brightness(90%);
            transition: filter 0.25s;
        }
    }
}
