@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

$main-color: lighten($primary, 10%);

.big-text-h1 {
    @extend .mb-5;

    font-size: 4.5rem !important;
    color: $main-color;
    -webkit-text-stroke: 2.5px #1a1d20;
    font-weight: bold;
    user-select: none;
}

header.masthead {
    @include background-cover;

    position: relative;
    background-image: url('/storage/welcome/Overlay1.jpg');
    background-position-y: 20%;
    background-position-x: center;
    padding-top: 8rem;
    padding-bottom: 8rem;

    color: $main-color;

    h1 {
        font-size: 2rem;
    }

    @media (min-width: 768px) {
        padding-top: 12rem;
        padding-bottom: 12rem;

        h1 {
            font-size: 3rem;
        }
    }
}

.call-to-action {
    @include background-cover;

    position: relative;
    background-image: url('/storage/welcome/Overlay2.jpg');
    background-position: center;
    padding-top: 8rem;
    padding-bottom: 8rem;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .features-icons-item {
        max-width: 20rem;

        .features-icons-icon {
            @extend .d-flex;
            @extend .justify-content-center;
            @extend .align-items-center;

            height: 7rem;
            color: darken($main-color, 15%);

            i {
                font-size: 5rem;
                transition: font-size 0.5s;
            }
        }
        &:hover {
            .features-icons-icon {
                i {
                    font-size: 6rem;
                    transition: font-size 0.5s;
                }
            }
        }

        h3 {
            font-weight: bold;
        }
    }
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .testimonial-item {
        max-width: 18rem;

        &-image {
            @extend .mx-auto;
            @extend .mb-2;
            @extend .rounded-circle;

            width: 12rem;
            height: 12rem;
            background-size: cover;
            background-position: center;
            border: solid 2.5px rgb(127, 127, 127);
        }
    }
}

.welcome-bg {
    background-color: #1a1d20;
    color: white;
}

.showcase {
    background-color: #1a1d20;
    color: white;

    .showcase-text {
        padding: 3rem;
    }

    .showcase-img {
        min-height: 30rem;
        background-size: cover;
        background-position: center;
    }

    @media (min-width: 768px) {
        .showcase-text {
            padding: 7rem;
        }
    }
}

.welcome-bg-change {
    @extend .bg-dark;
    @extend .text-light;
}
