@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

$background: hsl(140, 90%, 60%);

.big-text-h1 {
    @extend .mb-5;
    font-weight: bold;
}

header.masthead {
    @include background-cover;

    position: relative;
    background: $background;
    padding-top: 8rem;
    padding-bottom: 8rem;

    .overlay {
        position: absolute;
        background-color: $gray-900;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }

    h1 {
        font-size: 2rem;
    }

    @media (min-width: 768px) {
        padding-top: 12rem;
        padding-bottom: 12rem;

        h1 {
            font-size: 3rem;
        }
    }
}

.call-to-action {
    @include background-cover;

    position: relative;
    background: $background;
    padding-top: 8rem;
    padding-bottom: 8rem;

    .overlay {
        position: absolute;
        background-color: $gray-900;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
    }
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .features-icons-item {
        max-width: 20rem;

        .features-icons-icon {
            @extend .d-flex;
            @extend .justify-content-center;
            @extend .align-items-center;

            height: 7rem;
            color: darken($background, 15%);

            i {
                font-size: 5rem;
                transition: font-size 0.5s;
            }
        }
        &:hover {
            .features-icons-icon {
                i {
                    font-size: 6rem;
                    transition: font-size 0.5s;
                }
            }
        }

        h3 {
            font-weight: bold;
        }
    }
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;

    .testimonial-item {
        max-width: 18rem;

        img {
            max-width: 12rem;
            border: solid 2px rgb(127, 127, 127);
        }
    }
}

.welcome-bg {
    &-light {
        background-color: white;
        color: black;
    }

    &-dark {
        background-color: #1a1d20;
        color: white;
    }
}

.showcase {
    &-light {
        @extend .showcase;
        @extend .welcome-bg-light;
    }

    &-dark {
        @extend .showcase;
        @extend .welcome-bg-dark;
    }

    .showcase-text {
      padding: 3rem;
    }

    .showcase-img {
        min-height: 30rem;
        background-size: cover;
        background-position: center;
    }

    @media (min-width: 768px) {
        .showcase-text {
            padding: 7rem;
        }
    }
}

.welcome-bg-change {
    &-lightmode {
        @extend .bg-light;
        @extend .text-dark;
    }

    &-darkmode {
        @extend .bg-dark;
        @extend .text-light;
    }
}
