.card {
    @extend .bg-dark;
    @extend .text-white;
}

.card-header-text {
    @extend .h4;
    @extend .mr-auto;
    @extend .my-auto;
}

.card-header-flex {
    @extend .card-header;
    @extend .d-flex;
    flex-wrap: wrap;
}

.card-body-centered {
    @extend .card-body;
    @extend .w-100;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
}

.responsive-table {
    @extend .table;
    @extend .text-center;
    @extend .text-nowrap;

    &-bordered {
        @extend .responsive-table;
        @extend .table-bordered;
    }

    &-hover {
        @extend .responsive-table;
        @extend .table-hover;
    }
}

.big-button {
    @extend .btn;
    @extend .font-weight-bold;
    @extend .btn-block;

    &-danger {
        @extend .big-button;
        @extend .btn-danger;
    }

    &-success {
        @extend .big-button;
        @extend .btn-success;
    }

    &-primary {
        @extend .big-button;
        @extend .btn-primary;
    }

    &-opposite {
        @extend .big-button;
        @include button-variant(#f8f9fa, #f8f9fa);
    }

    &-golden {
        @extend .big-button;
        background-color: $gold-star-color;

        &:hover {
            background-color: darken($gold-star-color, 10%);
        }
    }
}

.form-date {
    @extend .form-control;
    @extend .m-auto;
    width: 170px;

    &-min {
        @extend .form-control;
        min-width: 170px;
    }
}

.trashbin {
    @extend .h3;
    @extend .m-auto;
    cursor: pointer;
}

.form-text {
    @extend .form-control;
    @extend .m-auto;
    @extend .text-left;
    width: 170px;
}

.form-number {
    @extend .form-control;
    @extend .m-auto;
    @extend .text-left;
    width: 170px;
}

.table-themed {
    @extend .table-dark;
}

.border-large {
    border-width: 1.5px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.gold-stars {
    color: $gold-star-color;
}

.hr {
    border-width: 2px;
    $border-color: white;
    background-color: $border-color;
    border-color: $border-color;

    &-dashed {
        @extend .hr;
        background-color: transparent !important;
        border-top-style: dashed;
        border-width: 1px;
    }
}

.profile-img {
    @extend .rounded-circle;
    border: solid 2px white;
    height: 39px;
    width: 39px;
    background-color: white;
    border-color: white;
}

.navbar {
    @extend .navbar-dark;
    @extend .bg-dark;
}

.bundle-image {
    @extend .d-block;
    @extend .mx-auto;

    max-width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.carousel-control-prev {
    margin-left: -65px;
}

.carousel-control-next {
    margin-right: -65px;
}

.carousel-indicators {
    margin-bottom: -35px;
}

.description-long {
    @extend .mt-4;
    @extend .mx-sm-4;

    font-size: 16px;
    text-align: justify;
}

.admin-bundle-gallery-image {
    @extend .mx-auto;
    width: 400px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border: solid 5px rgb(127, 127, 127);
}

.tutorial-wrapper {
    @extend .px-5;
    @extend .py-4;
    @extend .text-white;

    background-color: #30363b;
    border-radius: 10px;
    text-align: justify;
    font-size: 16px;

    h1 {
        @extend .mt-4;
        @extend .pb-2;
        text-align: center;
        font-weight: bold;
		border-bottom: rgb(127, 127, 127) solid 1px;
    }

    h2 {
        @extend .h3;
        font-weight: bold;
        margin-top: 16px;
    }

    img {
        margin: 10px auto;
        text-align: center;
        width: 100%;
        display: block;
        border-radius: 10px;
        border: solid 2.5px rgb(127, 127, 127);
    }

    ul, ol {
        margin-top: -16px;
        margin-bottom: 4px;
    }
}

.text-stand-out {
    @include change-text-brightness(text-stand-out-animation, #fff, #000);

    font-weight: bolder;
    animation: text-stand-out-animation 2s infinite;
}

.restore-table {
    @extend .my-3;

    .header {
        @extend .h1;
        @extend .font-weight-bold;
        @extend .text-center;
    }

    &-content {
        @extend .table-responsive;
        @extend .w-100;

        table {
            @extend .table-themed;
            @extend .responsive-table-bordered;

            thead > th {
                @extend .h5;
                @extend .font-weight-bold;
            }
        }
    }
}

.row-hover-bg {
    background-color: rgba(255, 255, 255, 0.075);
}

.cash-input {
    @extend .form-control;
    @extend .mx-auto;

    max-width: 150px;
    text-align: center;
}

.shared-users-wrapper {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;

    .shared-user {
        $boxHeight: 60px;
        $contentHeight: 45px;

        padding: #{($boxHeight - $contentHeight) / 2};

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $boxHeight;
        width: calc(95% / 2);
        background-color: darken($dark, 10%);
        border-radius: 30px;
        margin: #{$boxHeight / 8} 0;

        &-image {
            height: 100%;
        }

        &-username {
            font-size: 1.25rem;
            margin: 0;
            text-align: center;
            overflow-y: hidden;
        }

        &-delete {
            font-size: #{2 * $contentHeight / 3};
            margin-right: 10px;
            color: $danger;
            margin-top: 2px;
            cursor: pointer;
        }
    }

    .shared-user-waiting {
        @extend .shared-user;
        width: #{95% * 2 / 3};
        padding: 0px 15px;

        &-email {
            font-size: 1.25rem;
            text-align: center;
            overflow-y: hidden;
        }

        &-spinner {
            @extend .spinner-border;
        }

        &-error {
            font-size: 2.5rem;
            color: $danger;
        }
    }
}
