@mixin change-text-brightness($name, $color1, $color2) {
    @keyframes #{ $name } {
        0% {
            color: $color1;
        }
        50% {
            color: $color2;
        }
        100% {
            color: $color1;
        }
    }
}

@mixin profile-wrapper-mixin($background, $border, $color, $color1, $color2, $hr-color) {
    @extend .p-3;
    @extend .h-100;
    border-radius: 1rem;
    border-width: 5px;
    border-style: solid;
    border-color: $border;
    background-color: $background;

    .profile-picture {
        @extend .rounded-circle;

        img {
            @extend .w-100;
            @extend .rounded-circle;
            border: solid 4px $color;
        }
    }

    @include change-text-brightness(lighten-premium, $color1, $color2);

    .premium {
        animation: lighten-premium 3s infinite;
    }

    .username {
        @extend .h3;
        @extend .text-center;
        @extend .font-weight-bold;
        @extend .mt-4;
    }

    hr {
        background-color: $hr-color;
        border-width: 2px;
        border-radius: 1px;
    }

    .account-type {
        @extend .h5;
        @extend .font-weight-bold;
        @extend .text-center;
    }

    .sa-since {
        @extend .h5;
        @extend .font-weight-bold;
        @extend .text-center;
	}
}

@mixin bundle-wrapper-mixin($background-color, $border-color, $text-color, $hover-color) {
    @extend .w-100;
    @extend .h-100;

    border-radius: 1rem;
    border-width: 5px;
    border-style: solid;
    color: $text-color;

    border-color: $border-color;
    background-color: $background-color;
    transition: border-color 0.5s, background-color 0.5s;

    .image {
        @extend .m-3;
        height: 300px;
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        border: solid 4px $border-color;
    }

    .title {
        @extend .h1;
        @extend .font-weight-bold;
        @extend .text-center;
        @extend .mt-3;
        @extend .mb-2;
    }

    .description {
        @extend .px-2;
        @extend .mb-3;
        font-size: 20px;
        text-align: center;
    }

    &:hover {
        background-color: $hover-color;
        border-color: $hover-color;
        transition: border-color 0.5s, background-color 0.5s;
    }
}
