.dark-card {
    @extend .card;
    @extend .bg-dark;
    @extend .text-white;
}

.card-header-text {
    @extend .h4;
    @extend .mr-auto;
    @extend .my-auto;
}

.card-header-flex {
    @extend .card-header;
    @extend .d-flex;
}

.card-body-centered {
    @extend .card-body;
    @extend .w-100;
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
}

.responsive-table {
    @extend .table;
    @extend .text-center;
    @extend .text-nowrap;

    &-bordered {
        @extend .responsive-table;
        @extend .table-bordered;
    }

    &-hover {
        @extend .responsive-table;
        @extend .table-hover;
    }
}

.big-button {
    @extend .btn;
    @extend .font-weight-bold;
    @extend .btn-block;

    &-danger {
        @extend .big-button;
        @extend .btn-danger;
    }

    &-success {
        @extend .big-button;
        @extend .btn-success;
    }

    &-primary {
        @extend .big-button;
        @extend .btn-primary;
    }
}

.form-date {
    @extend .form-control;
    @extend .m-auto;
    width: 170px;

    &-min {
        @extend .form-control;
        min-width: 170px;
    }
}

.times-delete {
    @extend .h3;
    @extend .m-auto;
    @extend .text-danger;
}

.form-text {
    @extend .form-control;
    @extend .m-auto;
    @extend .text-left;
    width: 170px;
}

.form-number {
    @extend .form-control;
    @extend .m-auto;
    @extend .text-left;
    width: 170px;
}

.hover-bg {
    &-light {
        background-color: #ececec;
    }

    &-dark {
        background-color: #43494e;
    }
}

.table-lightmode {
    @extend .table;
}

.table-darkmode {
    @extend .table-dark;
}
