@include media-breakpoint-down(sm) {
    .shared-user {
        width: 95% !important;
    }
}

@include media-breakpoint-down(md) {
    .tutorial-content {
        max-height: calc(80vh - 200px);
    }

    .button {
        width: 100%;
    }
}

@include media-breakpoint-down(lg) {
    .tutorial-wrapper {
        width: 90vw;
    }
}
