@include media-breakpoint-down(sm) {
    .shared-user {
        width: 95% !important;
    }

    .big-text-h1 {
        font-size: 3.25rem !important;
    }

    .card-header-flex {
        .currency-text {
            font-size: calc(1.1rem + 0.12vw);
        }
    }
}

@include media-breakpoint-down(md) {
    .tutorial-wrapper {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .tutorial-content {
        max-height: calc(80vh - 200px);
    }
}

@include media-breakpoint-down(lg) {
    .button {
        width: 100%;
    }
}

@include media-breakpoint-down(xl) {
    .tutorial-wrapper {
        width: 90vw;
    }
}
