.theme--light {
    .table-bordered {
        th, td {
            border-right-color: rgba(0, 0, 0, 0.12) !important;
            border-bottom-color: rgba(0, 0, 0, 0.12) !important;
        }

        table {
            border-left-color: rgba(0, 0, 0, 0.12) !important;
            border-top-color: rgba(0, 0, 0, 0.12) !important;
        }
    }

    .table-hover-background {
        background: #eee;
    }
}
