$sticky-panel-margin: 12px;

.v-application {
    .text-h6 {
        font-size: 1.125rem !important;
    }

    .v-data-table-header th {
        white-space: nowrap;
    }
}

.v-main {
    position: relative;
    min-height: 100dvh;
    padding-left: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

tr {
    height: 48px;
    transition: background-color 0.1s ease-in-out !important;

    th, td {
        transition: background-color 0.1s ease-in-out !important;
    }

    &:hover {
        background-color: rgb(var(--v-theme-on-surface-variant)) !important;
        transition: background-color 0.1s ease-in-out !important;
    }
}

.table-bordered {
    th, td {
        border-right: 1px solid rgba(var(--v-border-color), var(--v-border-opacity)) !important;
        border-bottom: 1px solid rgba(var(--v-border-color), var(--v-border-opacity)) !important;
    }

    table {
        border-left: 1px solid rgba(var(--v-border-color), var(--v-border-opacity)) !important;
        border-top: 1px solid rgba(var(--v-border-color), var(--v-border-opacity)) !important;
    }

    tr:hover {
        background-color: transparent !important;
    }
}

.table-hover-background {
    background-color: rgb(var(--v-theme-on-surface-variant)) !important;
    transition: background-color 0.1s ease-in-out !important;
}

.sticky-panel {
    position: sticky !important;
    top: $sticky-panel-margin;
}

.loading-height {
    min-height: 128px;
}

.hover-icon {
    padding: 7.5px;
    border-radius: 50% !important;
    background: white !important;
    color: black !important;
    transition: opacity 0.25s ease-in-out !important;
}

.div-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-rounded {
        @extend .div-img;

        border-radius: 50%;
    }
}

.add-income-buttons {
    display: flex;
    justify-content: center;
}

.extension-description {
    font-size: 1rem;

    p, ul {
        margin-bottom: 8px;
    }
}

.tutorial-text {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    font-size: 1rem;
    text-align: justify;

    h1 {
        padding: 12px 0;
        text-align: center;
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        margin-top: 16px;
        margin-bottom: 8px
    }

    h3 {
        font-weight: bold;
        margin-top: 8px;
        margin-bottom: 8px
    }

    p {
        margin: 8px 0;
    }

    img {
        margin: 12px auto;
        max-width: 100%;
        display: block;
    }
}

.checkbox-centered {
    display: flex;
    justify-content: center;

    .v-input--selection-controls__input {
        margin-right: 0 !important;
    }
}

.disable-hover {
    tr:hover {
        background-color: transparent !important;
    }
}

.large-chip-avatar {
    .v-avatar {
        height: 48px !important;
        min-width: 48px !important;
        width: 48px !important;
        margin-right: 12px !important;
        margin-left: -8px !important
    }

    .v-chip__close {
        margin-left: 12px !important;
    }
}

.pagination-fixed {
    position: fixed;
    bottom: 12px;
    width: calc(100vw - 56px - 16px - 16px);
    display: flex;
    justify-content: center;

    &-margin {
        margin-bottom: 65px;
    }
}

.text-h5-5 {
    font-size: 1.3rem !important;
    font-weight: 400;
}

.overview-block {
    @extend .sticky-panel;
    overflow-y: auto !important;
    max-height: calc(100dvh - #{2 * $sticky-panel-margin});

    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .v-sheet.v-card:not(.v-sheet--outlined) {
        box-shadow: none;
    }

    .charts {
        position: relative;
        max-height: calc(100dvh - #{32px + 64px + 48px + 16px + 16px});
    }
}

.filtered-list {
    min-width: 225px;
    max-height: 300px;
    padding-right: 12px;
    overflow-y: auto;
}

.chart-card {
    min-height: calc(100vh - 32px);

    .chart-block {
        padding: 16px;
        min-height: calc(100vh - #{32px + 64px + 64px});
    }
}

.multi-button-table-top {
    display: flex;
    justify-content: end;

    button {
        margin: 0 4px;
    }
}

.list-without-bullets {
    list-style-type: none;
}