@import '~vuetify/src/styles/settings/_variables';

@media (max-width: #{map-get($grid-breakpoints, "sm") - 0.02px}) {
    .v-application {
        .text-h6 {
            font-size: 0.85rem !important;
        }

        .text-h4 {
            font-size: 1.85rem !important;
        }
    }
}

@media (hover: none) {
    .menu-margin {
        margin-left: 0;
    }

    .pagination-fixed {
        width: calc(100vw - 16px - 16px);
    }
}

@media (max-width: 475px) {
    .add-income-buttons {
        flex-wrap: wrap;
        flex-direction: column;

        button {
            margin-top: 4px;
            margin-bottom: 4px;

            &:first-child {
                margin-top: unset;
            }

            &:last-child {
                margin-bottom: unset;
            }
        }
    }
}
